/* 필수 전역 설정 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 배너 영역 */
.bannerAll {
  position: relative;
  width: 100%;
  height: 22rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* 배경화면 */
.bannerBg {
  position: absolute;
  width: 100%;
  z-index: 0;
}
/* 제목 */
.bannerTitle {
  position: relative;
  font-size: 4rem;
  font-family: "Orbitron-ExtraBold", sans-serif;
  z-index: 1;
}

/* 설명 */
.bannerExplanation {
  position: relative;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-family: "Pretendard-Medium", sans-serif;
  color: #C3C3C3;

  z-index: 1;
}
@media (max-width: 1024px) {
  .bannerAll {
    height: 13rem;
  }
  .bannerTitle {
    font-size: 2.5rem;
  }
  .bannerExplanation {
    font-size: 0.7rem;
    margin-top: 0.7rem;
  }
}

@media (max-width: 768px) {
  .bannerAll {
    height: 17.5rem;
  }
  .bannerTitle {
    font-size: 1.9rem;
  }
  .bannerExplanation {
    font-size: 0.5rem;
    margin-top: 0.4rem;
  }
}
