body {
    margin: 0;
    padding: 0;
}

.bannerAll {
    height: 320px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerTitle {
    font-size: 64px;
    font-family: "Orbitron-ExtraBold", sans-serif;
}

.bannerExplanation {
    margin-top: 19px;

    font-size: 17px;
    font-family: "Pretendard-Medium", sans-serif;

    color: #C3C3C3;
}