@font-face {
  font-family: "Orbitron-ExtraBold";
  src: url("/fonts/Orbitron/Orbitron-ExtraBold.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard/Pretendard-Medium.otf");
}

#coreValues {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.core-header {
  align-self: flex-start;
  margin-left: 10.94%;
  z-index: 2;
}
#coreValues .title {
  color: #cbcbcb;
  font-family: "Orbitron-ExtraBold", sans-serif;
  font-size: 64px;
  margin-bottom: 11px;
}
#coreValues .orange {
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 19px;
  color: #ff6723;
  margin-left: 34px;
  margin-bottom: 57px;
}
#coreValues .corevalues_items {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 371px);
  grid-template-rows: repeat(2, 235px);
  color: #fff;
  column-gap: 41px;
  row-gap: 43px;
  z-index: 5;
}

.wave-space{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 530px;
  background: linear-gradient(#000, #FF6E00);
  opacity: 0.3;
}

.wave {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 200vw;
  height: 200vw;
  margin-left: -100vw;
  margin-top: -196vw;
  border-radius: 40%;

  animation: waveAnimation 20000ms infinite linear;
  background: black;

}

@keyframes waveAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}