@font-face {
  font-family: "Orbitron-Bold";
  src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
}
@font-face {
  font-family: "Orbitron-Medium";
  src: url("../fonts/Orbitron/Orbitron-Medium.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("../fonts/Pretendard/Pretendard-Medium.otf");
}

.footer {
  display: flex;
  background-color: #0a0a0a;
  height: 336px;
  /* border-top: 1px solid yellow; */
  border-top: 1px solid rgba(153, 153, 153, 0.27);
  align-items: center;
  padding: 0 160px;
}

.footer .left {
  align-items: left;
}
.footer_logo {
  display: flex;
}
.footer_logo p {
  font-family: "Orbitron-Bold", sans-serif;
  font-size: 40px;
  color: #fff;
}
.footer_logo .orange {
  color: #ff6723;
}
.info {
  margin-top: 7px;
  margin-bottom: 75px;
}
.info p {
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 10px;
  color: #3b3b3b;
  margin-top: 5px;
}
.footer .right {
  margin-left: auto;
  text-align: right;
}
.right .title {
  font-family: "Orbitron-Medium", sans-serif;
  color: #3b3b3b;
  font-size: 16px;
}
.footer .nav_list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  list-style: none;
  gap: 11px;
  color: #6c6c6c;
  margin-top: 19px;
}
