@font-face {
  font-family: "Orbitron-Bold";
  src: url("/fonts/Orbitron/Orbitron-Bold.ttf");
}

@font-face {
  font-family: "Orbitron-Medium";
  src: url("/fonts/Orbitron/Orbitron-Medium.ttf");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard/Pretendard-Medium.otf");
}

.footer {
  display: flex;
  background-color: #0a0a0a;
  height: 20rem;
  border-top: 1px solid rgba(153, 153, 153, 0.27);
  align-items: center;
  padding: 0 10rem;
}

.footer .left {
  align-items: left;
}

.footer_logo {
  display: flex;
}

.footer_logo p {
  font-family: "Orbitron-Bold", sans-serif;
  font-size: 2.5rem;
  color: #fff;
}

.footer_logo .orange {
  color: #ff6723;
}

.info {
  margin-top: 0.8rem;
  margin-bottom: 4.5rem;
}

.info p {
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 0.8rem;
  color: #3b3b3b;
  margin-top: 0.3rem;
}

.footer .right {
  margin-left: auto;
  text-align: right;
}

.right .title {
  font-family: "Orbitron-Medium", sans-serif;
  color: #3b3b3b;
  font-size: 1rem;
}

.footer .nav_list {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  list-style: none;
  gap: 0.75rem;
  color: #6c6c6c;
  margin-top: 1.1rem;
}

@media (max-width: 1500px) {
  .footer {
    padding: 0 6rem;
  }
  .footer_logo p {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 0 4rem;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .footer_logo p {
    font-size: 1.8rem;
  }
  .info {
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 2.5rem;
    height: auto;
  }
  .footer_logo p {
    font-size: 1.5rem;
  }
  .info {
    margin-bottom: 2rem;
  }
  .footer .right {
    margin-left: 0;
    text-align: left;
    margin-top: 2.5rem;
  }
}
