@font-face {
        font-family: "Orbitron-Black";
        src: url("../fonts/Orbitron/Orbitron-Black.ttf");
}
@font-face {
        font-family: "Orbitron-Bold";
        src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
    background-color: #020202;
}
.header{
    display: flex;
    margin-top: 25px;
    margin-left: 132px;
}
/* 로고 부분 */
.header_logo{
    display: flex;
    align-items: center;
}
.header_logo > img{
    width: 42px;
    height: 100%;
}
.logoText{
    display: block;
    margin-left: 11px;
}
.logo{
    font-family: "Orbitron-Black", sans-serif;
    font-size: 16px;
    color: #FF6723;
}
.logoMeaning{
    font-family: "Orbitron-Bold",sans-serif;
    font-size: 8px;
    color: #949494;
}

/* nav 부분 */
.nav_list{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 40px;
}