@font-face {
  font-family: "Orbitron-Black";
  src: url("../fonts/Orbitron/Orbitron-Black.ttf");
}
@font-face {
  font-family: "Orbitron-Bold";
  src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background: rgba(2, 2, 2, 0.8);
  position: fixed;
  z-index: 1000;
  display: flex;
  padding: 20px 8.5%;
  width: 100%;
  left: 0;
  right: 0;
  align-items: center;
  /* border-bottom: 1px solid yellow; */
  box-shadow: 0 2px 11.9px 0 rgba(90, 90, 90, 0.25);
  backdrop-filter: blur(12.149999618530273px);
}
/* 로고 부분 */
.header_logo {
  display: flex;
  align-items: center;
}
.header_logo:hover {
  cursor: pointer;
}
.header_logo > img {
  width: 48px;
  height: 48px;
}
.logoText {
  display: block;
  margin-left: 9px;
}
.logo {
  font-family: "Orbitron-Black", sans-serif;
  font-size: 16px;
  color: #ff6723;
}
.logoMeaning {
  font-family: "Orbitron-Bold", sans-serif;
  font-size: 8px;
  color: #949494;
  width: 75px;
}

/* nav 부분 */
.header > .nav_list {
  align-items: center;
  margin-left: 13%;
  font-size: 16px;
  display: flex;
  list-style: none;
  gap: 35px;
  color: #cbcbcb;
}
.header_socialLinks {
  margin-left: 8%;
}
.header_apply {
  margin-left: 60px;
}
