@font-face {
  font-family: "Orbitron-Black";
  src: url("/fonts/Orbitron/Orbitron-Black.ttf");
}
#hero {
  background-color: #000;
  min-height: 100vh;
  padding: 250px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  align-items: center;
}
.heroRow {
  display: flex;
  align-items: center;
  gap: 220px;
  padding-left: 10%;
}
.texts {
  font-family: "Orbitron-Black", sans-serif;
  font-size: 80px;
  color: #cbcbcb;
  width: 390px;
  height: 300px;
}
.texts .orange {
  color: #ff6723;
}
#hero .apply {
  margin-top: 30px;
}
.planet {
  position: relative;
  width: 660px;
  height: 323px;
}
.planet img {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.mars {
  width: 290px;
}
.wR {
  width: 600px;
}
.oR {
  width: 380px;
}