@font-face {
    font-family: "Orbitron-Bold";
    src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
}
@font-face {
    font-family: "Pretendard-Medium";
    src: url("../fonts/Pretendard/Pretendard-Medium.otf");
}
a.btn {
  text-decoration: none;
}
/* projects-intro */
.projects-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 192px 160px 117px 176px;
}
/* 제목 */
.projects-intro h1 {
  color: #FF6723;
  font-family: "Orbitron-Bold", sans-serif;
  font-size: 64px;
  /* 제목과 문구 사이 간격 */
  margin-bottom: 27px;
}
/* 문구 */
.projects-intro p {
  color: #FFF;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 19px;
}
/* 자세히 보기 */
.btn {
  width: 139px;
  height: 42px;
  font-size: 17px;
  color: White;
  border: 2px solid white;
  border-radius: 100px;
  padding: 2px 0px 2px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Medium", sans-serif;
  gap: 10px;
  transition: 0.2s ease;
}
/* 화살표 배경(원) */
.btn svg {
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  transition: 0.2s ease;
}
/* 화살표 선 */
.btn path {
  stroke: black;
  transition: 0.2s;
}

/* hover */
.btn:hover {
  color: #FF6723;
  border: 2px solid #FF6723;
}
/* 화살표 배경(원) */
.btn:hover svg {
  background-color: #FF6723;
}
/* 화살표 선 */
.btn:hover path {
  stroke: white;
}

