@font-face {
  font-family: "Orbitron-Bold";
  src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("../fonts/Pretendard/Pretendard-Medium.otf");
}

#projects {
  padding-top: 115px;
  padding-bottom: 115px;
}
/* projects-intro */
.projects-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px 108px;
}
/* 제목 */
.projects-intro h1 {
  color: #ff6723;
  font-family: "Orbitron-Bold", sans-serif;
  font-size: 64px;
  /* 제목과 문구 사이 간격 */
  margin-bottom: 27px;
}
/* 문구 */
.projects-intro p {
  color: #fff;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 19px;
}
/* 자세히 보기 */
.projects-btn {
  width: 139px;
  height: 45px;
  font-size: 17px;
  color: White;
  border: 2px solid white;
  border-radius: 100px;
  padding: 4px 0px 4px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Medium", sans-serif;
  gap: 10px;
  transition: 0.2s ease;
  text-decoration: none;
  white-space: nowrap;
}
/* 화살표 배경(원) */
.projects-btn svg {
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  width: 1.5em;
  height: 1.5em;
  transition: 0.2s ease;
}
/* 화살표 선 */
.projects-btn path {
  stroke: black;
  transition: 0.2s ease;
}
/* hover */
.projects-btn:hover {
  color: #ff6723;
  border: 2px solid #ff6723;
}
/* 화살표 배경(원) */
.projects-btn:hover svg {
  background-color: #ff6723;
}
/* 화살표 선 */
.projects-btn:hover path {
  stroke: white;
}
