/* @media (max-width: 1024px) {
    .members_main {
        padding: 3rem 1.5rem;
    }
}
@media (max-width: 768px) {
    .members_main {
        padding: 2rem 1rem;
    }
} */

@font-face {
  font-family: "Orbitron-ExtraBold";
  src: url("/fonts/Orbitron/Orbitron-ExtraBold.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard/Pretendard-Medium.otf");
}

.members_main {
    min-height: 100vh;
    background-color: #000;
    padding-top: 94px;
    border: 1px solid yellow;
}
.members_main > .top{
    display: flex;
}
.members_main > .top > .texts{
    padding-left: 168px;
}
.members_main > .top > .texts > h1{
    color: #FF6723;
    font-family: "Orbitron-ExtraBold", sans-serif;
    font-size: 64px;
    margin-bottom: 11px;
}
.members_main > .top > .texts > p{
    font-family: "Pretendard-Medium", sans-serif;
    font-size: 18px;
    color: #C3C3C3;
    margin-left: 34px;
    margin-bottom: 57px;
}

.members_main .slide_card{
    display: flex;
    gap: 34px;
    border-radius: 12px;
}
.members_main .slide_card img{
    border-radius: 12px;
    height: 480px;
}