@font-face {
    font-family: "Pretendard-Medium";
    src: url("../../fonts/Pretendard/Pretendard-Medium.otf");
}
@font-face {
    font-family: "Pretendard-Bold";
    src: url("../../fonts/Pretendard/Pretendard-Bold.otf");
}

.member_feaButton {
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 387px;
    height: 216px;
    border: #959595 2px solid;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.member_feaButton:hover {
    transition: all 0.5s ease;
    .Member_feaNum, .Member_feaTitle, .Member_feaExplanation {
        color: #FD802E;
    }
    background-color: rgba(35, 61, 76, 0.5);
    cursor: pointer;
    box-shadow: 
        0px -4px 8px rgba(0, 0, 0, 0.3),
        0px 4px 8px rgba(0, 0, 0, 0.3);
    border:  rgba(35, 61, 76, 0.5) 2px solid;    
}

.Member_feaTitle {
    font-family: "Pretendard-Bold", sans-serif;
    font-size: 27px;
    color: #ffffff;
    margin-top: 35px;
}

.Member_feaNum {
    font-family: "Pretendard-Medium", sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.Member_feaExplanation {
    font-family: "Pretendard-Medium", sans-serif;
    font-size: 14px;
    color: #A0A0A0;
}