@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url("../../fonts/Orbitron/Orbitron-ExtraBold.ttf");
}

.members{
    background-color: #000;
    padding-top: 115px;
    color: #fff;
}
.banner{
    height: 400px;
    width: 100%;
    background-color: #FF8137;
}
.banner_title{
    font-family: "Orbitron-ExtraBold", sans-serif;
    font-size: 80px;
}
.yearBtn {
    padding: 16px 27px;
    color: #9D9D9D;
    background-color: #0D0D0D;
    border-radius: 11px;
    border: 2px solid #9D9D9D;
    font-size: 14px;
    font-family: "Orbitron-ExtraBold";
}

/* 선택된 버튼 스타일 */
.yearBtn.selected {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(255,157,0,0.3);
}
.generation_buttons {
     display: flex;
    justify-content: center;
    gap: 34px;
    margin-top: 75px;
    margin-bottom: 100px;
}

.members_grid{
    display: grid;
    padding: 0 17.5%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, auto);
    row-gap: 54px;
}