@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url("../../fonts/Orbitron/Orbitron-ExtraBold.ttf");
}

@font-face {
    font-family: "Pretendard-Medium";
    src: url("../../fonts/Pretendard/Pretendard-Medium.otf");
}

@font-face {
    font-family: "Orbitron-Medium";
    src: url("../../fonts/Orbitron/Orbitron-Medium.ttf");
}
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.members{
    background-color: #000;
    padding: 6rem  0rem;
    width: 100%;
    color: #fff;
    position: relative;
}
.yearBtn {
    padding: 1rem 1.6rem;
    color: #9D9D9D;
    background-color: #0D0D0D;
    border-radius: 0.6rem;
    border: 0.1rem solid #9D9D9D;
    font-size: 0.8rem;
    font-family: "Orbitron-ExtraBold";
    cursor: pointer;
}

.yearBtn.selected {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(255,157,0,0.3);
}
.generation_buttons {
    display: flex;
    justify-content: center;
    gap: 2.1rem;
    margin-top: 4.6rem;
    margin-bottom: 6.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    cursor: pointer;
}

.members_grid{
    display: grid;
    margin: 0 auto; 
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 3rem;
    row-gap: 3.3rem;
}    

.member_sixYear {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding:0px;
    padding-top: 12.5rem;
    background-image: url("/MemberPlanet.svg");
    background-repeat: no-repeat;
    background-position: center 2.5rem;
    
    background-size: 50%;

}

.member_title {
    font-family: "Orbitron-ExtraBold", sans-serif;
    font-size: 3.3rem;
    color: #000000;
    text-shadow: 0.1rem 0.1rem 0.5rem rgba(225,225, 225, 0.3),
                0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.4),
                -0.1rem -0.1rem 0.25rem rgba(192, 192, 192, 0.5);

}

.member_join {
    width: 26.8rem;
    height: 4.7rem;
    color: #ffffff;
    font-size: 1.6rem;
    font-family: "Pretendard-Medium", sans-serif;
    border: rgb(211, 211, 211, 0.5) 0.1rem solid;
    border-radius: 0.7rem;
    background-image: linear-gradient(to right, #FF6200, #FF8D23);

}

.member_join:hover {
    background-image: linear-gradient(to right, rgba(160, 70, 0, 1), rgba(160, 70, 0, 1));
    cursor: pointer;
}

.member_joinButton {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.member_button {
    display: flex;
    justify-content: center;
    gap: 1.1rem;
    margin-bottom: 5.25rem;
    
}

.member_explanation {
    font-size: 1.1rem;
    font-family: "Orbitron-Medium", sans-serif;
    margin-top: 1.6;
}

.member_sixYear_title {
    margin-bottom: 4.5rem;
}

@media (max-width: 1024px) {
    .members {
        padding: 7rem  0rem;
    }
    .yearBtn {
        padding: 0rem 1.3rem;
        border-radius: 0.5rem;
        border: 0.1rem solid #9D9D9D;
        font-size: 0.8rem;
    }
    .generation_buttons {
        gap: 1.8rem;
        margin-top: 4rem;
        margin-bottom: 5.5rem;
    }
    .members_grid{
        gap: 1.8rem;
        row-gap: 1.8rem;
    }    
    
    .member_sixYear {
        padding-top: 5rem;
        background-image: url("/MemberPlanet.svg");
        background-repeat: no-repeat;
        background-position: center 0rem;
        background-size: 50%;
    }
    .member_title {
        font-size: 2.7rem;
        margin-bottom: 1.5rem;
    }
    .member_explanation {
        font-size: 0.9rem;
    }
    .member_button {
        gap: 0.8rem;
        margin-bottom: 5rem;
    }
    .member_sixYear_title {
        margin-bottom: 3rem;
    }
    .member_join {
        width: 26rem;
        height: 4.4rem;
        font-size: 1.6rem;
        border: rgb(211, 211, 211, 0.5) 0.1rem solid;
        border-radius: 0.6rem;
    }

}

@media (max-width: 768px) {
    .members {
        padding: 3rem  0rem;
    }
    .yearBtn {
        padding: 0rem 1.5rem;
        border-radius: 0.5rem;
        border: 0.1rem solid #9D9D9D;
        font-size: 0.8rem;
    }
    .generation_buttons {
        gap: 1rem;
        margin-top: 0rem;
        margin-bottom: 3rem;
    }
    .members_grid{
        gap: 1rem;
        row-gap: 1rem;
    }    
    
    .member_sixYear {
        padding-top: 3.5rem;
        background-position: center 0rem;
        background-size: 50%;
    }
    .member_title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .member_explanation {
        font-size: 0.7rem;
    }
    .member_button {
        gap: 0.6rem;
        margin-bottom: 3.5rem;
    }
    .member_sixYear_title {
        margin-bottom: 2rem;
    }
    .member_join {
        width: 15rem;
        height: 3rem;
        font-size: 1rem;
        border: rgb(211, 211, 211, 0.5) 0.1rem solid;
        border-radius: 0.4rem;
    }

}