@font-face {
    font-family: "Pretendard-Medium";
    src: url("src/fonts/Pretendard/Pretendard-Medium.otf");

    font-family: "Pretendard-SemiBold";
    src: url("src/fonts/Pretendard/Pretendard-SemiBold.otf");
}  

.card{
    position: relative;
    overflow: hidden;
}

.memberOverlay {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 257px 14px 0px 14px;
    background: rgba(0,0,0,0.50); /* 이미지 살짝 어둡게 */
    color: white;
}

.memberPicture {
    width: 304px;
    height: auto;
    border-radius: 12px;
    display: block;
}

.memberClass {
    font-size: 12px;
    font-family: "Pretendard-Medium", sans-serif;
}

.memberName {
    font-size: 19px;
    font-family: "Pretendard-SemiBold", sans-serif;
    margin-top: 6px;
    margin-bottom: 6px;
}

.memberYear {
    font-size: 14px;
    font-family: "Pretendard-Medium", sans-serif;
    margin-bottom: 11px;
}

.memberFea {
    display: flex;
    gap: 11px;
    margin-bottom: 11px;
}

.memberFea1 {
    font-size: 11px;
    font-family: "Pretendard-Medium", sans-serif;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(255,255,255,0.15)
}

.memberFea2 {
    font-size: 11px;
    font-family: "Pretendard-Medium", sans-serif;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(255,255,255,0.15)
}