@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url("../../fonts/Orbitron/Orbitron-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Pretendard-Medium";
    src: url("../../fonts/Pretendard/Pretendard-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Orbitron-Medium";
    src: url("../../fonts/Orbitron/Orbitron-Medium.ttf") format("truetype");
}

.members{
    background-color: #000;
    padding-top: 115px;
    color: #fff;
    position: relative;
}
.banner{
    height: 400px;
    width: 100%;
    /* background-color: #FF8137; */
}
.banner_title{
    font-family: "Orbitron-ExtraBold", sans-serif;
    font-size: 80px;
}
.yearBtn {
    padding: 16px 27px;
    color: #9D9D9D;
    background-color: #0D0D0D;
    border-radius: 11px;
    border: 2px solid #9D9D9D;
    font-size: 14px;
    font-family: "Orbitron-ExtraBold";
}

/* 선택된 버튼 스타일 */
.yearBtn.selected {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(255,157,0,0.3);
}
.generation_buttons {
     display: flex;
    justify-content: center;
    gap: 34px;
    margin-top: 75px;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.members_grid{
    display: grid;
    padding: 0 17.5%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, auto);
    row-gap: 54px;
}    

.member_sixYear {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding:0px;
    padding-top: 200px;
    background-image: url("/MemberPlanet.svg");
    background-repeat: no-repeat;
    background-position: center 40px;
    
    background-size: 50%;

}

.member_title {
    font-family: "Orbitron-ExtraBold", sans-serif;
    font-size: 54px;
    color: #000000;
    text-shadow: 2px 2px 8px rgba(225,225, 225, 0.3),
    4px 4px 8px rgba(0, 0, 0, 0.4),
-2px -2px 4px rgba(192, 192, 192, 0.5);

}

.member_join {
    width: 430px;
    height: 76px;
    color: #ffffff;
    font-size: 27px;
    font-family: "Pretendard-Medium", sans-serif;
    border: rgb(211, 211, 211, 0.5) 2px solid;
    border-radius: 12px;
    background-image: linear-gradient(to right, #FF6200, #FF8D23);

}

.member_join:hover {
    background-image: linear-gradient(to right, rgba(160, 70, 0, 1), rgba(160, 70, 0, 1));
}

.member_joinButton {
    display: flex;
    justify-content: center;
}

.member_button {
    display: flex;
    justify-content: center;
    gap: 19px;
    margin-bottom: 84px;
}

.member_explanation {
    font-size: 19px;
    font-family: "Orbitron-Medium", sans-serif;
    margin-top: 27px;
}

.member_sixYear_title {
    margin-bottom: 72px;
}