@font-face {
  font-family: "Pretendard-Medium";
  src: url("../../fonts/Pretendard/Pretendard-Medium.otf");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("../../fonts/Pretendard/Pretendard-SemiBold.otf");
}

.card {
  position: relative;
  transition: all 1s ease;
  width: 100%;
}

.card:hover .memberFea1,
.card:hover .memberFea2 {
  transition: all 0.3s ease;
  background-color: rgba(255, 157, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.25);
}

.card:hover .memberOverlay {
  transition: all 1s ease;
  background: rgba(0, 0, 0, 0);
}

.memberOverlay {
  position: absolute;
  inset: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  justify-content: flex-end;
  padding: 18.1rem 0.8rem 0px 0.8rem;
  background: rgba(0, 0, 0, 0.5); /* 이미지 살짝 어둡게 */
  color: white;
}

.memberPicture {
  width: 19rem;
  height: auto;
  border-radius: 0.7rem;
  display: block;
}

.memberClass {
  font-size: 0.7rem;
  font-family: "Pretendard-Medium", sans-serif;
}

.memberName {
  font-size: 1.1rem;
  font-family: "Pretendard-SemiBold", sans-serif;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.memberYear {
  font-size: 0.8rem;
  font-family: "Pretendard-Medium", sans-serif;
  margin-bottom: 0.6rem;
}

.memberFea {
  display: flex;
  gap: 0.6rem;
  margin-bottom: 0.6rem;
  flex-wrap: wrap;
}

.memberFea1 {
  transition: all 0.3s ease;
  font-size: 0.6rem;
  font-family: "Pretendard-Medium", sans-serif;
  padding: 0.625rem;
  border-radius: 0.06rem;
  border: 0.06rem solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
}

.memberFea2 {
  transition: all 0.3s ease;
  font-size: 0.6rem;
  font-family: "Pretendard-Medium", sans-serif;
  padding: 0.625rem;
  border-radius: 0.06rem;
  border: 0.06rem solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .memberPicture {
    width: 14rem;
    border-radius: 0.5rem;
  }
  .memberClass {
    font-size: 0.5rem;
  }
  .memberName {
    font-size: 0.9rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .memberYear {
    font-size: 0.7rem;
  }
  .memberFea {
    gap: 0.4rem;
    margin-bottom: 0.9rem;
  }
  .memberFea1 {
    font-size: 0.5rem;
    border-radius: 0.06rem;
    padding: 0.4rem;
    border: 0.06rem solid rgba(0, 0, 0, 0.3);
  }
  .memberFea2 {
    font-size: 0.5rem;
    border-radius: 0.06rem;
    padding: 0.4rem;
    border: 0.06rem solid rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 768px) {
  .memberOverlay {
    padding: 7rem 0.5rem 0px 0.5rem;
  }
  .memberPicture {
    width: 10rem;
    border-radius: 0.4rem;
  }
  .memberClass {
    font-size: 0.4rem;
  }
  .memberName {
    font-size: 0.7rem;
    margin-top: 0.1rem;
    margin-bottom: 0rem;
  }
  .memberYear {
    font-size: 0.6rem;
  }
  .memberFea {
    gap: 0.3rem;
    margin-bottom: 0.5rem;
  }
  .memberFea1 {
    font-size: 0.4rem;
    border-radius: 0.06rem;
    padding: 0.2rem;
    border: 0.06rem solid rgba(0, 0, 0, 0.3);
  }
  .memberFea2 {
    font-size: 0.4rem;
    border-radius: 0.06rem;
    padding: 0.42em;
    border: 0.06rem solid rgba(0, 0, 0, 0.3);
  }
}
