@font-face {
<<<<<<< HEAD
  font-family: "Orbitron-SemiBold";
  src: url("/fonts/Orbitron/Orbitron-SemiBold.ttf");
}
.navElements.highlight {
  color: #ff6723;
}
.navElements {
  font-family: "Orbitron-SemiBold", sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.navElements:hover {
  transition: 0.2s ease;
  color: #ff6723;
}
html {
  scroll-behavior: smooth;
=======
    font-family: "Orbitron-SemiBold";
    src: url("../fonts/Orbitron/Orbitron-SemiBold.ttf");
}
*{
    color: #CBCBCB;
    font-family: "Orbitron-SemiBold", sans-serif;
>>>>>>> upstream/main
}