@font-face {
  font-family: "Orbitron-SemiBold";
  src: url("../fonts/Orbitron/Orbitron-SemiBold.ttf");
}
.navElements {
  font-family: "Orbitron-SemiBold", sans-serif;
  cursor: pointer;
}
.navElements:hover {
  transition: 0.2s ease;
  color: #ff6723;
}
