@keyframes spin {
  from {
    transform: rotate(0deg); /* 0도에서 시작 */
  }
  to {
    transform: rotate(360deg); /* 360도까지 회전 */
  }
}

@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url("src/fonts/Orbitron/Orbitron-ExtraBold.ttf");
}   
/* 마스 전체 css------------------ */
#ourPrize {
    padding-top: 30px;
    padding-bottom: 115px;
    display: flex;
    position: relative;
}
/* 마스 배경 행성 사진 css------------------ */
.ourprize_background {
    position: absolute;
    top: 93px;
    height: 583px;
    width: auto;
    z-index: -1;
}
/* 마스 제목+설명+버튼 css------------------ */
.ourPrize-left {
    margin-top: 300px;
    margin-left: 168px;   
    background: rgba(55, 55, 55, 0);
    z-index: 2;
}
/* 마스 OUR PRIZE css------------------ */
.ourPrize-left .our {
    color: #CBCBCB;
    font-family: "Orbitron-ExtraBold", sans-serif;
    font-size: 64px;

    background-color: transparent;
}
.ourPrize-left > .prize {
    padding: 0;
    color: #FF6723;
    font-family: "Orbitron-ExtraBold", sans-serif;
    font-size: 64px;

    background-color: transparent;
}
/* 마스 설명 css------------------ */
.ourPrize-left .explanation {
    margin-top: 19px;
    background-color: transparent;
    width: 340px;
    color: #fff;
}
/* 마스 상 더보기 버튼 css------------------ */
.ourPrize-left .morePrize{
    display: flex;
    align-items: center;
    margin-top: 140px;
    padding: 12px 7px 12px 10px;
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
    color:#ffffff;
    width: 212px;
    height: 43px;
    font-size: 17px;
}
.ourPrize-left .morePrize:hover {
    color: #FF6723;
    border-color: #FF6723;
    transition: 0.2s ease;
    .nextButton{
        transition: 0.2s ease;
        background-color: #FF6723;
        color: white
    }
}

.nextButton {
    background-color: white;
    padding: 6px 6px 6px 6px;
    margin-left: 11px;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    transition: 0.2s ease;
}
/* 마스 단체 사진 css------------------ */
.ourpPicture {
    margin-left: 130px;
    margin-top: 200px;
}

.ourprizePicture {
    width: 777px;
    height: auto;
}
/* 마스 위성 css------------------ */
.miniTitan1 {
    position: absolute;
    animation: spin 20s linear infinite;
    transform-origin: 0 300px;
    width: 18px;
    height: auto;
    animation-delay: -16s;
    z-index: 3;
}
.miniTitan2 {
    position: absolute;
    animation: spin 20s linear infinite;
    transform-origin: 0 299px;
    width: 15px;
    height: auto;
    animation-delay: -7s;
    z-index: 3;
}
.miniTitan3 {
    position: absolute;
    animation: spin 15s linear infinite;
    transform-origin: 0 237px; 
    width: 15px;
    height: auto;
    animation-delay: -8s;
    z-index: 3;
}
/* 행성 중심 설정 */
.planet_center1 {
    position: absolute;
    top: 85px;
    left: 201px;
    z-index: 3;
}

.planet_center2 {
    position: absolute;
    top: 147.5px;
    left: 201.5px;
    z-index: 3;
}