@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url("2026-MAS-Website/fonts/Orbitron/Orbitron-ExtraBold.ttf");
}
@font-face {
    font-family: "Pretendard-Medium";
    src: url("2026-MAS-Website/fonts/Pretendard/Pretendard-Medium.otf");
}

body {
    margin: 0;
    padding: 0;
}

.prize{
    padding: 115px 20px;
    max-width: auto;
    margin: 0 auto;
}
/* 년도 버튼 부분 css------------------------- */
.Year {
    display: flex;
    justify-content: center;
    gap: 34px;
    margin-top: 75px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    
}

.yearBtn {
    padding: 16px 28px;
    font-size: 18px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;

}
/* 상장 사진 부분 css------------------------- */
.prizePicture {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

.prize_grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 10px;
    column-gap: 20px;
}

/* 태블릿 */
@media (max-width: 768px) {
    
    .prize{
        padding: 60px 10px;
        
        margin: 0 auto;
    }
    /* 년도 버튼 부분 css------------------------- */
    .Year {
        display: flex;
        justify-content: center;
        gap: 17px;
        margin-top: 37px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    
    }

    .Year > .yearBtn {
        cursor: pointer;
        padding: 8px 13px;
        font-size: 10px;
        border-radius: 10px;
    }

    .yearBtn.selected {
        background: #FF6723;
        border-color: #FF6723;
        border-radius: 10px;
    }
    /* 상장 사진 부분 css------------------------- */
    .prizePicture {
        display: flex;
        gap: 7px;
        width: 100%;
        justify-content: center;
    }

    .prize_grid {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, auto);
        row-gap: 5px;
        column-gap: 10px;
    }
}


@media (max-width: 376px) {
    html, body {
        overflow-x: hidden;
    }
    
    .prize{
       
        margin: 0 auto;
    }
    /* 년도 버튼 부분 css------------------------- */
    .Year {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 20px;
        margin-bottom: 10px;
        flex-wrap: wrap;
    
    }

    .Year > .yearBtn {
        cursor: pointer;
        padding: 4px 6px;
        font-size: 5px;
        border-radius: 5px;
    }

    .yearBtn.selected {
        background: #FF6723;
        border-color: #FF6723;
        border-radius: 5px;
    }
    /* 상장 사진 부분 css------------------------- */
    .prizePicture {
        display: flex;
        gap: 3px;
        width: 100%;
        justify-content: center;
    }

    .prize_grid {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, auto);
        row-gap: 2px;
        column-gap: 5px;
    }
}