@font-face {
  font-family: "Pretendard-Medium";
  src: url("2026-MAS-Website/fonts/Pretendard/Pretendard-Medium.otf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PrizePictureElement {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.picture {
  /* 형태 잡기 */
  width: 100%;
  max-width: 25rem;
  aspect-ratio: 20 / 13;
  object-fit: cover;
  /* 강제 초기화 */

  border-radius: 1rem;
  /* 사진 꽉 차게하는 코드 */
  object-fit: cover;
  object-position: top;
  flex-wrap: wrap;
}

.overlayText {
  position: absolute;
  /* 아래에 고정 */
  bottom: 1.5rem;
  left: 1.5rem;
  width: auto;
  /* 폰트 설정 등등 */
  color: white;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 1.5rem;
  /* 대충 안보이게 하는 코드 */
  opacity: 0;
  transition: 0.3s;
  border-radius: 1rem;
}
/* 호버됬을때 변하는 코드 */
.PrizePictureElement:hover .overlayText {
  opacity: 1;
}

.PrizePictureElement:hover .picture {
  filter: brightness(56%);
}

@media (max-width: 1025px) {
  .picture {
    max-width: 13rem;
    border-radius: 1rem;
    margin: 0px;
  }
  .overlayText {
    bottom: 1rem;
    left: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
  }
}

@media (max-width: 768px) {
  .picture {
    max-width: 8rem;
    border-radius: 0.5rem;
    margin: 0px;
  }
  .overlayText {
    bottom: 0.6rem;
    left: 0.6rem;
    font-size: 0.6rem;
    border-radius: 0.5rem;
  }
}
