@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url("2026-MAS-Website/fonts/Orbitron/Orbitron-ExtraBold.ttf");
}
@font-face {
    font-family: "Pretendard-Medium";
    src: url("2026-MAS-Website/fonts/Pretendard/Pretendard-Medium.otf");
}
@font-face {
    font-family: "Orbitron-SemiBold";
    src: url("2026-MAS-Website/fonts/Orbitron/Orbitron-SemiBold.ttf");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prize{
    padding: 6rem  0rem;
    max-width: auto;
    margin: 0 auto;
}
/* 년도 버튼 부분 css------------------------- */
.Year {
    display: flex;
    justify-content: center;
    gap: 2.2rem;
    margin-top: 5rem;
    margin-bottom: 4.8rem;
    flex-wrap: wrap;
}

.Year > .Year_yearBtn {
    padding: 1rem 1.6rem;
    font-size: 1rem;
    font-family: "Orbitron-SemiBold", sans-serif;
    border: 0.1rem solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease;

}
.Year_yearBtn.selected {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(255,157,0, 0.3);
}
/* 상장 사진 부분 css------------------------- */

.prize_grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 2.5rem;
    column-gap: 1.3rem;
}

@media (max-width: 1024px) {
    .prize {
        padding: 7rem  0rem;
    }
    .Year {
        gap: 1.8rem;
        margin-top: 4rem;
        margin-bottom: 3.8rem;
    }
    .Year > .Year_yearBtn {
        padding: 0.8rem 1rem;
        font-size: 0.7rem;
        border: 0.1rem solid #fff;
        border-radius: 0.5rem;
    }
    .prize_grid {
        row-gap: 2rem;
        column-gap: 1rem;
    }
}

@media (max-width: 768px) {
    .prize {
        padding: 3rem  0rem;
    }
    .Year {
        gap: 1rem;
        margin-top: 0rem;
        margin-bottom: 3.8rem;
    }
    .Year > .Year_yearBtn {
        padding: 0.4rem 0.6rem;
        font-size: 0.5rem;
        border: 0.1rem solid #fff;
        border-radius: 0.4rem;
    }
    .prize_grid {
        row-gap: 1rem;
        column-gap: 0.6rem;
    }
}