@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url("2026-MAS-Website/fonts/Orbitron/Orbitron-ExtraBold.ttf");
}
@font-face {
    font-family: "Pretendard-Medium";
    src: url("2026-MAS-Website/fonts/Pretendard/Pretendard-Medium.otf");
}

body {
    margin: 0;
    padding: 0;
}

.prize{
    padding: 115px 20px;
    max-width: auto;
    margin: 0 auto;
}
/* 년도 버튼 부분 css------------------------- */
.Year {
    display: flex;
    justify-content: center;
    gap: 34px;
    margin-top: 75px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.yearbtn.selected {
    background: #FF6723;
    border-color: #FF6723;
}
/* 상장 사진 부분 css------------------------- */
.prizePicture {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

.prize_grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 10px;
    column-gap: 20px;
}

/* 태블릿 */
@media (max-width: 1024px) {
    .prize_grid {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }
}

/* 모바일 */
@media (max-width: 768px) {
    .prize_grid {
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }
}