.prizeYearElement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.yearBtn {
    padding: 16px 27px 16px 27px;
    color: #9D9D9D;
    background-color: #0D0D0D;
    border-radius: 11px;
    border: 2px solid #9D9D9D;
    font-size: 14px;
    font-family: "Orbitron-ExtraBold";
}

.yearBtn:focus {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgb(255,157,0,0.3);
}