@font-face {
    font-family: "Pretendard-Medium";
    src: url("../fonts/Pretendard/Pretendard-Medium.otf");
}
/* 폰트 설정 */
@font-face {
    font-family: "Orbitron-SemiBold";
    src: url("../fonts/Orbitron/Orbitron-SemiBold.ttf");
}
.project{
    padding-top: 115px;
}
.list {
    margin-left: 20px;
    display: flex;
    gap: 43px;
    justify-content: center;
    margin-top: 75px;
}
.list button {
    cursor: pointer;
}
.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron-SemiBold",sans-serif;
    border: 1px solid white;
    border-radius: 14px;
    font-size: 18px; 
    background-color: rgba(255, 157, 0, 0.32);
    padding: 16px 27px;
    color: #FFF;
}

.notSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron-SemiBold",sans-serif;
    border: 1px solid #9D9D9D;
    border-radius: 14px;
    font-size: 18px; 
    color: #9D9D9D;
    background-color: #0D0D0D;
    padding: 16px 27px;
    color: #9D9D9D;
}

/* 프로젝트 박스 컴포넌트 */
.allProjects {
    display: grid;
    grid-template-columns: 440px 440px;
    justify-content: center;
    gap: 34px;
    margin-top: 68px;
    margin-bottom: 68px;
}