@font-face {
  font-family: "Orbitron-Bold";
  src: url("/fonts/Orbitron/Orbitron-Bold.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard/Pretendard-Medium.otf");
}

#qna {
  background-color: #000;
  padding: 153px 168px 130px;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}
.qa_intro{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.qa_intro h1{
  font-family: "Orbitron-Bold", sans-serif;
  font-size: 64px;
}
.qa_intro p{
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 19px;
  margin-bottom: 90px;
}