.slider {
  overflow: hidden;
  width: 100%;
  padding-bottom: 30px;
}

.slide-track {
  display: flex;
  width: max-content;
  animation: scroll 39s linear infinite;
}

.slide-track img {
  margin-right: 27px;
  border-radius: 10px;
  object-fit: cover;
}

.projects-slideUp {
  width: 387px;
  height: 219px;
}

.projects-slideDown {
  width: 387px;
  height: 219px;
}

.members-slide {
    width: 304px;
    height: 384px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
