.slider {
  overflow: hidden;
  width: 100%;
}
.slide-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}
.slide-track img {
    margin-right: 27px;
    border-radius: 10px;
    object-fit: cover;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
