.nav_links {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 1.6rem;
}

.nav_links > li > a > img {
  height: 1.5rem;
  cursor: pointer;
  display: block;
}

@media (max-width: 1024px) {
  .nav_links {
    gap: 1rem;
  }
  .nav_links > li > a > img {
    height: 1.2rem;
  }
}

@media (max-width: 768px) {
  .nav_links {
    gap: 0.6rem;
  }
  .nav_links > li > a > img {
    height: 1rem;
  }
}
