@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url("../../fonts/Orbitron/Orbitron-ExtraBold.ttf");
}
@font-face {
    font-family: "Pretendard-Medium";
    src: url("../../fonts/Pretendard/Pretendard-Medium.otf");
}
.weAreMAS{
    width: 100%;
    height: 820px;
    background-color: black;
}
.weAreMAS-texts {
    text-align: center;
}
.weAreMAS-texts h1 {
    font-family: "Orbitron-ExtraBold";
    font-size: 76px;
    color: #FF6723;
}
.weAreMAS-texts p {
    font-family: "Pretendard-Medium";
    font-size: 20px;
    color: #fff;
}
.curve-mask {
    position: absolute;
    z-index: 2;
    margin: 30px auto;
    width: 100% ;
    height: 15%;
    background-color: black;
    border-radius: 50%;
}
.curve-mask.top {
  top: 235px;
}
.curve-mask.bottom {
  bottom: -85px;
}
.slider {
  overflow: hidden;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.slider-track {
  display: flex;
  gap: 27px;
  animation: scroll 20s linear infinite;
}
.slide-item {
  flex: 0 0 304px;
  height: 384px;
  border-radius: 12px;
  overflow: hidden;
}
.slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
